<!-- Представление для редактирования -->
<div class="panel-body">
    <label class="center-block text-center h1"> Edit Company : {{currentItem.name}}</label>
    <div>
        <select ng-options="item.name for item in items" ng-model="currentItem">
            <option value="">-- choose company --</option>
        </select>
    </div>

    <div class="form-group">
        <label>Name:</label>
        <input class="form-control" ng-model="currentItem.name" />
    </div>
    <div class="form-group">
        <label>Price:</label>
        <input class="form-control" ng-model="currentItem.price" pattern="^[ 0-9]+$"/>
    </div>


    <hr>
    <span class="dropup" style="margin: 10px 10px 10px 10px;"></span>
    <div class="well row input-group-btn" style="margin-bottom:10px; ">
        <div class="col-md-3">
            <button class="btn btn-primary" ng-click="update(currentItem)">Save</button> <!--Сохранение изменений-->
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" ng-click="cancelEdit()">Cancel</button> <!--Отмена правок-->
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary " ng-click="delete(currentItem)">Delete</button>
        </div>

    </div>
</div>