<!--Представление для отображения всех данных-->


    <div class="row">
       <div class="tool"> <b>NAME |</b> <b>Company Eatimated Earnings |</b> <b>Company Eatimated Earnings + Child Company Eatimated Earnings</b></div>
        <hr />
     
        <div  ng-controller="treviewCtrl">
            <collection collection='roleList'></collection>    
        </div>
         
   </div>  
        <div class="panel-body row">
            
                <button class="btn btn-primary"  ng-click="refresh()" >Refresh</button>
                
                <button class="btn btn-primary " ng-click="edit()">Edit</button>
                <button class="btn btn-primary " ng-click="create()">New Comp</button>
            
        </div>



